.remove-btn {
  margin-right: 2rem;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity 1000ms ease;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.001;
  transition: opacity 2000ms ease-out;
}